FileETag None

<Files *.js.gz>
  AddType "text/javascript" .gz
  AddEncoding gzip .gz
</Files>

<Files *.js.br>
  AddType "text/javascript" .br
  AddEncoding br .br
</Files>

<Files *.wasm.gz>
  AddType "application/wasm" .gz
  AddEncoding gzip .gz
</Files>

<Files *.wasm.br>
  AddType "application/wasm" .br
  AddEncoding br .br
</Files>

AddType "application/wasm" .wasm

RewriteEngine On

RewriteCond %{HTTP:Accept-Encoding} br
RewriteCond %{REQUEST_FILENAME}.br -f
RewriteRule ^(.*)$ $1.br [L]

RewriteCond %{HTTP:Accept-Encoding} gzip
RewriteCond %{REQUEST_FILENAME}.gz -f
RewriteRule ^(.*)$ $1.gz [L]