RewriteEngine On

# reject hacking attempts
RewriteCond %{QUERY_STRING} http\:// [OR]
RewriteCond %{REQUEST_URI} http\://
RewriteRule (.*) - [F,L]

# file / directory exists? don't process it....
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule (.*) $1 [L]

RewriteRule ^join/(\d+)$ index.php?compoid=$1 [L]
RewriteRule ^admin/(\w+)$ index.php?admin&action=$1 [L]
RewriteRule ^admin/(\w+)/(\d+)$ index.php?admin&action=$1&which=$2 [L]
RewriteRule ^fileupload$ index.php?fileupload [L]
RewriteRule ^login$ index.php?login [L]
RewriteRule ^logout$ index.php?login&logout [L]
RewriteRule ^pack/(\d+)$ index.php?getpack=$1 [L]
RewriteRule ^pack/(\d+)/(.+) index.php?getpack=$1&file=$2 [L]
RewriteRule ^results/(\d+)\.txt$ index.php?getresults=$1 [L]
RewriteRule ^compo/(\d+)$ index.php?getcompo=$1 [L]
RewriteRule ^ping$ index.php?uploadping [L]
RewriteRule ^stats$ index.php?stats [L]
RewriteRule ^search$ index.php?search [L,QSA]
RewriteRule ^compos$ index.php?compos [L]

RewriteRule ^admin/voting/(\d+)/(.*)$ index.php?admin&action=voting&which=$1&$2 [L]

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType image/gif A1209600
  ExpiresByType image/jpg A1209600
  ExpiresByType image/jpeg A1209600
  ExpiresByType image/png A1209600
  ExpiresByType text/css A1209600
  ExpiresByType text/javascript A1209600
  ExpiresByType application/javascript A1209600
</IfModule>
